@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;

  --color-brand-50: #f0faf9;
  --color-brand-100: #d7f1ef;
  --color-brand-200: #b2e3e0;
  --color-brand-300: #82cdc9;
  --color-brand-400: #54b1ad;
  --color-brand-500: #379693;
  --color-brand-600: #2a7a78;
  --color-brand-700: #256261;
  --color-brand-800: #224f4e;
  --color-brand-900: #1f4242;
  --color-brand-950: #0d2a2a;
}

body {
  background-color: var(--color-stone-50);
  color: var(--color-stone-900);
}
